/* Responsividade - Cabeçario*/
@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #ccc;
        color: #333;
        top: 50px;
        right: 0;
        width: 80%;
    }

    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}

/*Responsividade - blog*/
@media (min-width: 768px) {
    #blog .wrapper .blog-card {
        flex-direction: row; /* Garante que os cards fiquem alinhados horizontalmente */
        flex-wrap: nowrap; /* Impede que os cards se movam para a próxima linha */
    }

    #blog .wrapper .card {
        flex: 1 1 30%; /* Ajuste para a largura desejada dos cards */
    }
}


@media (max-width: 767px) {
    #blog .wrapper .header h4 {
        font-size: 1.2em; /* Reduz o tamanho da fonte */
    }

    #blog .wrapper .blog-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #blog .wrapper .blog-info h2 {
        font-size: 1.5em; /* Ajusta o tamanho da fonte */
    }

    #blog .wrapper .blog-info a {
        margin-top: 10px;
    }

    #blog .wrapper .blog-card {
        flex-direction: column;
        align-items: center;
    }

    #blog .wrapper .card {
        max-width: 100%;
        margin: 20px 0; /* Ajusta a margem */
    }
}


/*Responsividade - contatos*/
@media (max-width: 991px) {
    #contact {
        padding: 20px; /* Reduz padding para dispositivos menores */
    }

    .box {
        grid-template-columns: 1fr; /* Altera para uma coluna */
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "form"
            "info"
            "map";
        gap: 15px; /* Ajusta o espaçamento entre os itens */
        max-width: 100%; /* Garante que ocupe toda a largura disponível */
        margin: 0 auto; /* Centraliza a caixa horizontalmente */
    }

    .contact {
        padding: 20px; /* Ajusta o padding para dispositivos menores */
    }

    .inputBox {
        margin-bottom: 15px; /* Ajusta o espaçamento inferior para input boxes */
    }

    .inputBox input,
    .inputBox textarea {
        font-size: 0.9em; /* Reduz o tamanho da fonte */
        padding: 8px; /* Ajusta o padding */
    }

    .inputBox input[type="submit"] {
        font-size: 0.9em; /* Reduz o tamanho da fonte do botão de envio */
        max-width: 100%; /* Garante que o botão ocupe toda a largura disponível */
        padding: 10px; /* Ajusta o padding do botão de envio */
    }

    .info {
        padding: 15px; /* Reduz o padding da seção de informações */
    }

    .info .infoBox div span {
        font-size: 1.2em; /* Reduz o tamanho dos ícones de informações */
        min-width: 30px; /* Ajusta o tamanho mínimo dos ícones */
        height: 30px; /* Ajusta a altura dos ícones */
    }

    .sci li a {
        font-size: 1.5em; /* Reduz o tamanho dos ícones de redes sociais */
    }

    .doacao h1 {
        font-size: 1.2em; /* Reduz o tamanho da fonte do título de doação */
    }

    .doacao button {
        width: 150px; /* Reduz a largura do botão de doação */
        height: 30px; /* Reduz a altura do botão de doação */
        margin-top: 20px; /* Ajusta a margem superior do botão de doação */
    }
}

/*Responsividade - Rodapé*/

@media (max-width: 767px) {
    .footer-col {
        max-width: 100%;
        padding: 0;
    }

    .row-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-col h4 {
        margin-bottom: 15px;
    }

    .footer-col ul li a {
        font-size: 14px;
    }

    .footer-col .social-links {
        gap: 8px;
    }

    .footer-col .social-links a {
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
}

/* Responsividade para dispositivos pequenos (sobre) */
@media (max-width: 599px) {
    #sobre h2 {
        font-size: 28px;
    }

    .sobre p {
        font-size: 14px;
        margin: 20px 10px;
    }

    .owl-carousel {
        min-height: 200px;
    }

    .owl-carousel .item img {
        width: 90%; /* Reduz tamanho das imagens em telas pequenas */
    }
}

/* Responsividade para tablets */
@media (min-width: 600px) and (max-width: 999px) {
    #sobre h2 {
        font-size: 32px;
    }

    .sobre p {
        font-size: 16px;
    }

    .owl-carousel .item img {
        width: 95%;
    }
}
